
@function contrast($color) {
  $l: lightness($color);
  // font-size: $l;
  @if $l > 49% {
    $color: map-get($map: $colors, $key: "dark");
  } @else {
    $color: map-get($map: $colors, $key: "light");
  }
  @return $color;
}

.btn {
  @include amaranth-font;
  font-weight: bold;
  border-radius: 0.3rem;
  @include flex-centered;

  // default color classes
  @each $color, $value in $colors {
    $contrast: contrast($value);
    &.btn-#{$color} {
      background-color: $value;
      color: $contrast;
      border: 2px solid $contrast;
    }
    &.btn-outline-#{$color} {
      background-color: $contrast;
      color: $value;
      border: 2px solid $value;
    }
  }
}