.btn {
  @include tertiary-font;
  @include flex-centered;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;

  & > button {
    cursor: inherit;
    &:focus {
      outline: none;
    }
  }

  // default color classes
  @each $color, $value in $colors {
    $contrast: contrast($value);
    &.btn-#{$color} {
      background-color: $value;
      color: $contrast;
      border: 2px solid $contrast;
    }
    &.btn-outline-#{$color} {
      background-color: $contrast;
      color: $value;
      border: 2px solid $value;
    }
  }
}