
// Color System

$dark-color:  #353535;
$light-color: #fefefe;

// scale variables

$dark-scale-deg: 10;

$dark: ("100": $dark-color);
$deg: 100;
@while $deg > 0 {
  $dark-scale: mix($dark-color, $light-color, $deg);
  $dark: map-merge($dark, (#{$deg}: $dark-scale));
  $deg: $deg - $dark-scale-deg;
}
$dark: map-merge($dark, ("0": $light-color));

// default color classes
@each $color, $value in $dark {
  .darky-#{$color} {
    color: $value;
  }
  .darky-bg-#{$color} {
    background-color: $value;
  }
}


$primary:       #875454;
// $secondary:     map-get($map: $dark, $key: "80");
// $secondary:     invert($primary);
$secondary:     #875487;
$tertiary:      #a8346a;
$success:       hsl(120, 23%, 43%);
$info:          hsl(190, 23%, 43%);
$warning:       hsl(50, 63%, 43%);
$danger:        hsl(354, 43%, 43%);
// $light:         map-get($map: $dark, $key: "10");
$light:         $light-color;

$colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "tertiary":   $tertiary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark-color
)