@import "colors";

/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function color($colorName) {
  @return map-get($map: $colors, $key: $colorName);
}

@function darkColor($darkScale) {
  @return map-get($map: $dark, $key: $darkScale);
}

@function alphaColor($colorName: "primary", $darkScale: false, $alpha: 0.5) {
  $color: color($colorName);

  @if $darkScale {
    $color: darkColor($darkScale);
  }

  @return transparentize($color, $alpha);
}

@function contrast($color) {
  $l: lightness($color);
  $s: saturation($color);
  // font-size: $l;
  @if $l > 55% and $s < $l {
    $color: map-get($map: $colors, $key: "dark");
  } @else {
    $color: map-get($map: $colors, $key: "light");
  }
  @return $color;
}