@function color($val) {
  @return map-get($map: $colors, $key: $val);
}

@function darkColor($val) {
  @return map-get($map: $dark, $key: $val);
}

@function contrast($color) {
  $l: lightness($color);
  // font-size: $l;
  @if $l > 49% {
    $color: map-get($map: $colors, $key: "dark");
  } @else {
    $color: map-get($map: $colors, $key: "light");
  }
  @return $color;
}