@import "fonts";
@import "functions";

/**
 * Colors
 */

@mixin main-color {
  color: color("dark");
}

@mixin color-prop($colorName: "primary") {
  color: color($colorName);
}

@mixin bg-color-prop($colorName: "primary") {
  background-color: color($colorName);
}

/**
 * Text Style
 */
 
@mixin main-font {
  @include source-sans-pro-font;
}

@mixin title-font {
  @include lato-font;
}

@mixin special-font {
  @include amaranth-font;
}

@mixin important-text {
  @include color-prop("secondary");
  font-size: 1.2rem;
  font-weight: bold;
}

/**
 * Layout Style
 */
 
@mixin flex-centered($inline: true) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: center;
  align-items: center;
}

@mixin block-centered($width: 80%) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin default-border-radius {
  border-radius: 0.3rem;
}

@mixin default-content-padding {
  padding: 1rem;
}

@mixin fixed-full {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@mixin default-overflow {
  overflow: auto;
}

/**
 * Generic
 */
 
@mixin bg-tile($url: "/bg-tile2.png", $size: 400px) {
  // background-image: url(/bg-tile.png);
  background-image: url($url);
  background-size: $size;
  background-attachment: fixed;
  background-repeat: round;
  filter: grayscale(50%);
}

@mixin bg-tile-over {
  $color1: alphaColor($darkScale: "20", $alpha: 0.2);
  $color2: alphaColor($darkScale: "50", $alpha: 0.4);
  // $color2: alphaColor("tertiary");
  background: linear-gradient(39deg, $color1 0%, $color2 50%, $color1 100%);
}

@mixin border($color, $width: 2px, $style: solid) {
  border: $width $style $color;
}
