@import "fonts";

@mixin main-color {
  color: map-get($map: $colors, $key: "dark");
}

@mixin primary-color {
  color: map-get($map: $colors, $key: "primary");
}

@mixin secondary-color {
  color: map-get($map: $colors, $key: "secondary");
}

@mixin important-text {
  @include secondary-color;
  font-size: 1.2rem;
  font-weight: bold;
}

@mixin flex-centered($inline: true) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: center;
  align-items: center;
}
