@import "fonts";

@mixin main-color {
  color: map-get($map: $colors, $key: "secondary");
}

@mixin important-text {
  color: $myColor;
  font-size: 25px;
  font-weight: bold;;
}

@mixin flex-centered($inline: true) {
  @if $inline {
    display: inline-flex;
  } @else {
    display: flex;
  }
  justify-content: center;
  align-items: center;
}
