.container {
  @include block-centered(900px);
  @include bg-color-prop("light");
  padding: 1px 1rem;

  & > section {
    padding: 1rem 4rem 1px;

    @include for-phone-only {    
      padding: 1rem 10vw 1px;
    }
    @include for-small-screen-phone-only {
      padding: 1rem 7vw 1px;
    }
  }
}