
// Sistema de colores

$dark-color:    #ff1800;
$light-color:    #fefefe;

// variables para escalas de grises (de 20 en 20)

$dark-scale-deg: 10;

$dark: ("100": $dark-color);
$deg: 100;
@while $deg > 0 {
  $dark-scale: mix($dark-color, $light-color, $deg);
  $dark: map-merge($dark, (#{$deg}: $dark-scale));
  $deg: $deg - $dark-scale-deg;
}

// escala de grises  (color-dark-20, ..., color-dark-100)
@each $color, $value in $dark {
  .color-#{$color} {
    color: $value;
  }
}