@import "../../../style/mixins";

.bodered {
  $borderColor: darkColor("20");
  @include default-border-radius;
  @include default-content-padding;
  // border: 2px solid $borderColor;
  @include border($borderColor);
  margin: 0.5rem 0;
}

.groups {
  @extend .bodered;

  &:nth-child(odd) {
    @extend .darky-bg-30;
  }
  & > .group {
    @include flex-centered(false);

    & > .btn {
      margin: 0.2rem 0.2rem;
    }
  }
}